# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode (si quieres subir configuraciones quita el #)
#.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Flutter docs
**/doc/api/

# iOS Flutter
**/ios/Flutter/.last_build_id

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release
/android/build/
/android/app/build/

# Gradle
.gradle/

# Reportes generados
android/build/reports/

# Archivos generados por plugins
linux/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugin_registrant.*
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugins.cmake

# Firebase cache
.firebase/

# Claves de firma Android (MUY IMPORTANTE NO SUBIR)
key.properties
*.jks
*.keystore

# APK / AAB generados
*.apk
*.aab